:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  /* body va Kolle safhe */
  margin: auto;
  max-width: 1200px;
  min-width: 100vh;
  padding: 10px;
  background-color: #131315;
  color: #fff;
}

* {
  /* elements */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
  /* Inherit Means وراثت از parent */
}